audio{
  border-radius: 10px;
  text-align: center;
}

h1{
  text-align: center;
}

#photo{

  width: 30%;
  margin-bottom: 4%;
}

table {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
