
<h1>RECHERCHER UN ALBUM</h1>
<mat-card>
  <form #searchAlbum="ngForm" (ngSubmit)="chercherAlbums(searchAlbum.value.mot)">
    <mat-form-field>
      <input matInput type="text" placeholder="Mot-clés" ngModel name="mot" required>
    </mat-form-field>

    <input id="bouton"  [disabled]="!searchAlbum.valid" type="submit" value="VALIDER">

  </form>
</mat-card>

<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let cd of album; let i = index">
    <mat-card>
      <mat-card-header>

        <mat-card-title><a [routerLink]="['/album' , cd.id]" style="text-align: center"> {{cd.name}}</a></mat-card-title>

      </mat-card-header>
      <a [routerLink]="['/album' , cd.id]">
      <img mat-card-image src="{{cd.images[0].url}}" style="width: 70%; margin-top: 8%">
      </a>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
