<h1>RECHERCHER UN CHANTEUR</h1>
<mat-card>
  <form #searchChanteur="ngForm" (ngSubmit)="chercherChanteurs(searchChanteur.value.chanteur)">
    <mat-form-field>
      <input matInput type="text" placeholder="Mot-clés" ngModel name="chanteur" required>
    </mat-form-field>

    <input id="bouton" [disabled]="!searchChanteur.valid" type="submit" value="Valider">

  </form>
</mat-card>

<mat-grid-list cols="4">
  <mat-grid-tile *ngFor="let ch of chanteurs; let i = index">
    <mat-card>
      <mat-card-header>
        <mat-card-title><a [routerLink]="['/chanteurs' , ch.id]" style="text-align: center; text-decoration: none">{{ch.name}}</a>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image *ngIf="ch.images.length >0 " src={{ch.images[2].url}}>
      <img mat-card-image *ngIf="ch.images.length==0 " src="../../assets/no_image.png">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

