<h1>MES PLAYLISTS</h1>

<div style="text-align:center; margin-left: 7%; margin-right: 7%" >
<mat-grid-list  cols="3">
  <mat-grid-tile *ngFor="let pl of playlists; let i = index">
    <mat-card>
      <mat-card-header>

        <mat-card-title>{{pl.name}}</mat-card-title>

      </mat-card-header>

        <img *ngIf="pl.images!=0" mat-card-image src="{{pl.images[0].url}}" style="width: 60%; margin-top: 8%">
      <img *ngIf="pl.images==0" mat-card-image src="{{../../assets/no_image.png" style="width: 100%; margin-top: 8%">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>
<div style="text-align:center; margin-left: 7%; margin-right: 7%" >
  <h2>AJOUTER UNE PLAYLIST</h2>
</div>


<div style="margin-left: 7%; margin-right: 7%; margin-bottom: 4%; text-align: center">
<mat-card>


  <form #ajouterPlaylist="ngForm" (ngSubmit)="addPlaylist(ajouterPlaylist.value.name,ajouterPlaylist.value.description,ajouterPlaylist.value.bool)">
    <div style="text-align:left; " class="example-container">
    <mat-form-field >
      <input  matInput type="text" placeholder="Nom" ngModel name="name" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea rows="6"  matInput ngModel name="description" placeholder="Description" required></textarea>
    </mat-form-field>
    <br>
    <mat-radio-group name="bool" matInput ngModel required>
      <mat-label >Souhaitez vous la rendre public ? *</mat-label>
      <br><br>
      <mat-radio-button  value="true">Oui  </mat-radio-button>

      <mat-radio-button   value="false">Non</mat-radio-button>
    </mat-radio-group>

    </div>

     <input id="bouton" style="margin-top: 1%"  [disabled]="!ajouterPlaylist.valid" type="submit" value="VALIDER">

  </form>
</mat-card>
</div>
