<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <mat-toolbar id="menu" color="basic">
    <mat-toolbar-row>
      <button type="button" id="bouton" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 style="font-size: 35px"> SPOTIFY</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <mat-nav-list id="list">
        <a mat-list-item routerLink="accueil">ACCUEIL</a>
        <a mat-list-item routerLink="album">ALBUMS</a>
        <a mat-list-item routerLink="chanteurs">CHANTEURS</a>
        <a mat-list-item routerLink="playlist">PLAYLIST</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>


